/* Base */
html {
    min-height: 100%;
    position: relative;
}

body {
    color: #231F20;
    font-size: 13px;
    min-width: 1100px !important;
}

a {
    color: #231F20;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
}

a:hover {
    color: #FF0000;
    text-decoration: none;
}

h1 {
    font-size: 14px;
}

h2 {
    font-size: 13px;
}

h3, h4 {
    font-size: 12px;
    font-weight: normal;
}

h5, h6 {
    font-size: 12px;
    font-weight: normal;
}

/* Bootstrap custom */
.nav-tabs {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .navbar-default .navbar-form {
        width: 250px;
    }
}

.pi-navbar-nav ul {
    display: none;
}

@media (min-width: 768px) {
    .pi-navbar-nav li {
        position: relative;
    }

    .pi-navbar-caret {
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        z-index: 1002;
    }

    .pi-navbar-caret-outer {
        border-bottom: 8px solid #c2c2c2;
        bottom: 0;
        z-index: 1001;
    }

    .pi-navbar-nav li:hover > ul,
    .pi-navbar-nav li:hover .pi-navbar-caret {
        display: block;
    }

    .pi-navbar-nav ul .dropdown-menu {
        left: 100%;
        top: -5px;
    }
}

/* Block */
.pi-block {
    margin-bottom: 20px;
}

.pi-block-title {
    padding: 10px;
}

.pi-block-title h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.pi-panel-subline {
    float: right;
}

.pi-panel-tab .panel-heading {
    padding: 0;
    height: 40px;
}

.pi-panel-tab-indicators {
    margin: 0 0 -1px 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

.pi-panel-tab-indicators li {
    display: inline-block;
}

.pi-panel-tab-indicators a {
    padding: 0 15px;
    cursor: pointer;
    display: block;
    color: #333;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.pi-panel-tab-indicators li:first-child a {
    border-left: none;
}

.pi-panel-tab-indicators .active a {
    font-weight: bold;
    border-color: #ddd;
    background: #fff;
}

.panel-body > :last-child {
    margin-bottom: 0;
}

.panel-body ul,
.panel-body ol {
    /* margin-left: -20px; */
}

/* logger */
#pi-logger-output {
    position: relative;
}

/* list or order list */
.pi-list {

}

.pi-order-list {

}

/* Module custom */
.tag-terms a {
    padding: 0 5px;
}

/* Player */
.pi-player {
    padding: 10px 0;
}

.pi-player .video-js {
    margin: 0 auto;
}

.pi-map-canvas {
    height: 400px;
}

/* Elements */
fieldset dl {
    margin-top: 0;
}

form .icon-question-sign {
    color: #0089D1;
    float: left;
    cursor: pointer;
    margin: 6px 0 0 1px;
    padding: 2px;
}

/* Components */
.page-header {
    margin: 0 0 15px 0;
}

.page-header h1,
.page-header h2 {
    margin: 0;
    font-size: 30px;
}

.page-header .nav {
    margin-bottom: 0;
}

.page-header .search-query {
    border-radius: 5px;
}

/** Pi Specific **/
/* Elements */
.dl-horizontal dt {
    width: 120px;
}

.dl-horizontal dd {
    margin-left: 140px;
}

/* ellipsis with rows/lines : line height is fixed */
.pi-ellipsis {
    overflow: hidden;
    display: block;
    line-height: 1.5;
}

/* Max 1 - 10 row(s)/line(s) */
.pi-ellipsis-1 {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pi-ellipsis-2 {
    max-height: 3em;
}

.pi-ellipsis-3 {
    max-height: 4.5em;
}

.pi-ellipsis-4 {
    max-height: 6em;
}

.pi-ellipsis-5 {
    max-height: 7.5em;
}

.pi-ellipsis-6 {
    max-height: 9em;
}

.pi-ellipsis-7 {
    max-height: 10.5em;
}

.pi-ellipsis-8 {
    max-height: 12em;
}

.pi-ellipsis-9 {
    max-height: 13.5em;
}

.pi-ellipsis-10 {
    max-height: 15em;
}

/* Components */
.pi-divider {
    font-family: serif, sans-serif;
    margin: 0 6px;
    color: #ccc;
}

.pi-legend {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 9px 10px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
}

/* Box with border */
.pi-widget {
    margin-bottom: 20px;
    border: 1px solid #d7d7d7;
}

.pi-widget-header {
    padding: 5px 10px;
    background: #F8F8F8;
    border-bottom: 1px solid #d7d7d7;
}

.pi-widget-body {
    padding: 18px 20px;
}

.pi-widget-body > :last-child {
    margin-bottom: 0;
}

/* Avatar */
/* @see: https://github.com/pi-engine/pi/wiki/Design.Avatar */
.pi-avatar {
    width: 80px;
}

.pi-avatar-mini {
    width: 16px;
}

.pi-avatar-xsmall {
    width: 24px;
}

.pi-avatar-small {
    width: 28px;
}

.pi-avatar-medium {
    width: 46px;
}

.pi-avatar-large {
    width: 96px;
}

.pi-avatar-xlarge {
    width: 120px;
}

.pi-avatar-xxlarge {
    width: 214px;
}

/* header */
.pi-header {
    border-bottom: 10px solid #FF8200;
    padding-bottom: 10px;
}

.pi-header h1,
.pi-header h2 {
    padding: 1px;
    margin: 1px;
    font-size: 35px;
}

.pi-header .pi-header-icon {
    margin: 0;
    padding: 0;
}

.pi-header .pi-header-icon ul {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    max-width: 420px;
}

.pi-header .pi-header-icon ul li  {
    width: 19.5%;
    float: right;
    margin: 1px;
    padding: 1px;
}

.pi-header .pi-header-search {
    margin-top: 25px;
}

.pi-header .pi-header-logo {
    margin-top: 25px;
}

.pi-header .pi-header-user {
    background: #FF8200;
}

.pi-header .pi-header-user .navbar-nav li a:hover {
    background: #A5A5A5;
    color: #fff;
}

.pi-header .pi-header-user .navbar-nav li a {
    font-size: 12px;
}

.pi-header .user-bar a {
    color: #fff;
}

.pi-header .navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    background: #fff;
    border-color: #fff;
    height: 30px;
}

.pi-header .navbar-default .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.pi-header .navbar-default ul {
    width: 100%;
}

.pi-header .navbar-default ul li {
    width: 12.4%;
    text-align: center;
    padding: 0 10px;
}
.pi-header .navbar-default ul li a.navbar-top-link {
    background: #C6C6C6;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 5px;
    border-radius: 20px 0 20px 20px;
}

.pi-header .navbar-default ul li a.navbar-top-link:hover,
.pi-header .navbar-default ul li a.navbar-top-link:focus {
    background: #A5A5A5;
    color: #fff;
}

.pi-header .navbar-default ul li a.active {
    background: #A5A5A5;
    color: #fff;
    padding-bottom: 20px;
    border-radius: 20px 0 0 0;
}

.pi-header .navbar-default .yamm .nav,
.pi-header .navbar-default .yamm .collapse,
.pi-header .navbar-default .yamm .dropup,
.pi-header .navbar-default .yamm .dropdown {
    position: static;
}

.pi-header .navbar-default .yamm .container {
    position: relative !important;
    z-index: 10000 !important;
    height: auto !important;
}

.pi-header .navbar-default .yamm .dropdown-menu {
    right: auto;
    margin-top: 0;
    padding-top: 0;
    background: none;
    box-shadow: none;
    border: 0;
}

.pi-header .navbar-default .yamm .yamm-content {
    padding: 20px 30px;
}

.pi-header .navbar-default .yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
    width: 100% !important;
}

.pi-header .navbar-default .grid-menu {
    width: 100% !important;
    margin: 0 25px 0 25px;
    padding: 10px 30px;
    color: #fff;
    border-radius: 20px;
    background: #A5A5A5;
}

.pi-header .navbar-default .grid-menu-shop {
    background-image: url('http://www.osport.ir/upload/image/menu/bg-shop.png');
    background-position: bottom left;
    background-repeat: no-repeat;
}

.pi-header .navbar-default .grid-menu-guide {
    background-image: url('http://www.osport.ir/upload/image/menu/bg-guide.png');
    background-position: bottom left;
    background-repeat: no-repeat;
}

.pi-header .navbar-default .grid-menu-video {
    background-image: url('http://www.osport.ir/upload/image/menu/bg-toor.png');
    background-position: bottom left;
    background-repeat: no-repeat;
}

.pi-header .navbar-default .grid-menu-event {
    background-image: url('http://www.osport.ir/upload/image/menu/bg-toor.png');
    background-position: bottom left;
    background-repeat: no-repeat;
}

.pi-header .navbar-default .grid-menu [class*="col-"] {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    line-height: 2;
    text-align: right;
    color: #fff;
}

.pi-header .navbar-default .grid-menu h4 {
    text-align: center;
    font-size: 12px;
    background: #FF8200;
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 20px;        /* fallback */
    max-height: 30px;       /* fallback */
}

.pi-header .navbar-default .grid-menu a {
    color: #fff;
    font-size: 11px;
}

.pi-header .navbar-default .grid-menu a:hover {
    color: #F7931D;
}

.pi-header .navbar-default .grid-menu ol {
    margin: 4px 20px 20px 20px;
}

.pi-header .navbar-default .grid-menu li {
    padding: 2px 5px;
    font-size: 11px;
    width: 100%;
    text-align: right;
}
/* section */
.pi-section {
    padding: 15px 0;
    background-color: #ffffff;
}

.pi-section .pi-zone-8 {
    border-right: 3px solid #ABABAB;
    min-height: 2200px;
}

/* footer */
.pi-footer {
    padding: 0;
    margin: 0;
    color: #FEFEFE;
}

.pi-footer a {
    color: #f0f0f0;
}

.pi-footer a:hover {
    color: #333;
}

.pi-footer .pi-footer-app {
    background: #ccc;
    padding: 15px 0 0 0;
    margin: 0;
}

.pi-footer .pi-footer-app .pi-footer-main-logo img {
    margin-top: 50px;
}

.pi-footer .pi-footer-body {
    background: #FF8200;
    padding: 15px 0;
}

.pi-footer .pi-footer-copyright {
    background: #FF8200;
    padding: 15px 0;
}

/* */
.pi-side-network ul {
    background: #999999;
    color: #fff;
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    top: 30%;
    right: 0px;
    width: 50px;
    margin: 0;
    padding: 5px;
    position: fixed;
    z-index: 9999;
    display:block;
    text-align: center;
}

.pi-side-network ul li {
    list-style: none;
    padding: 4px 1px;
}
/* panel */
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-body {
    padding: 15px 0;
}

.panel-heading {
    padding: 0 0 0 15px;
    border: none;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.panel-heading h2 {
    font-weight: normal;
    font-size: 14px;
    font-family: Vazir;
    text-align: center;
}

.panel-title {
    background: #FF8200;
    color: #fff;
    width: 180px;
    padding: 5px 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.pi-zone-8 .panel-title {
    margin: 0 auto;
}

.pi-zone-2 .panel-title {
    width: 260px;
}

.panel-default {
    border: none;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #C6C6C6;
    border: none;
}

.shop-block-list .pi-block-title {
    color: #333;
    background-color: #C6C6C6;
    border: none;
    padding: 0;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-bottom: 15px;
}

.shop-block-list .pi-block-title h3 {
    background: #FF8200;
    color: #fff;
    width: 300px;
    padding: 5px 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

/* thumbnail */
.thumbnail {
    border-color: #fff;
    background-image: url('../image/thumbnail-img.png');
    background-repeat: no-repeat;
    background-position: -10px -10px !important;
}

.thumbnail .caption {
    min-height: 65px;
    padding: 15px 0 5px 0;
    background-image: url('../image/thumbnail-caption.png');
    background-repeat: no-repeat;
    background-position: 90% 10px;
}

.thumbnail .caption h2,
.thumbnail .caption h3,
.thumbnail .caption h4 {
    text-align: center;
    font-size: 12px;
    background: #FF8200;
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 20px;        /* fallback */
    max-height: 30px;       /* fallback */
}

.thumbnail .caption h2 a,
.thumbnail .caption h3 a,
.thumbnail .caption h4 a,
.thumbnail .caption h2 a:hover,
.thumbnail .caption h3 a:hover,
.thumbnail .caption h4 a:hover {
    color: #fff;
}

/* customize color */
.color-C357C7 .panel-title {
    background: #C357C7;
}

.color-C357C7 .thumbnail {
    background-image: url('../image/thumbnail-img-C357C7.png');
}

.color-C357C7 .thumbnail .caption {
    background-image: url('../image/thumbnail-caption-C357C7.png');
}

.color-C357C7 .thumbnail .caption h2,
.color-C357C7 .thumbnail .caption h3,
.color-C357C7 .thumbnail .caption h4 {
    background: #C357C7;
}

.color-95C6C7 .panel-title {
    background: #95C6C7;
}

.color-95C6C7 .thumbnail {
    background-image: url('../image/thumbnail-img-95C6C7.png');
}

.color-95C6C7 .thumbnail .caption {
    background-image: url('../image/thumbnail-caption-95C6C7.png');
}

.color-95C6C7 .thumbnail .caption h2,
.color-95C6C7 .thumbnail .caption h3,
.color-95C6C7 .thumbnail .caption h4 {
    background: #95C6C7;
}

.color-90C92E .panel-title {
    background: #90C92E;
}

.color-90C92E .thumbnail {
    background-image: url('../image/thumbnail-img-90C92E.png');
}

.color-90C92E .thumbnail .caption {
    background-image: url('../image/thumbnail-caption-90C92E.png');
}

.color-90C92E .thumbnail .caption h2,
.color-90C92E .thumbnail .caption h3,
.color-90C92E .thumbnail .caption h4 {
    background: #90C92E;
}

.color-42C78E .panel-title {
    background: #42C78E;
}

.color-42C78E .thumbnail {
    background-image: url('../image/thumbnail-img-42C78E.png');
}

.color-42C78E .thumbnail .caption {
    background-image: url('../image/thumbnail-caption-42C78E.png');
}

.color-42C78E .thumbnail .caption h2,
.color-42C78E .thumbnail .caption h3,
.color-42C78E .thumbnail .caption h4 {
    background: #42C78E;
}

.color-41C4FE .panel-title {
    background: #41C4FE;
}

.color-41C4FE .thumbnail {
    background-image: url('../image/thumbnail-img-41C4FE.png');
}

.color-41C4FE .thumbnail .caption {
    background-image: url('../image/thumbnail-caption-41C4FE.png');
}

.color-41C4FE .thumbnail .caption h2,
.color-41C4FE .thumbnail .caption h3,
.color-41C4FE .thumbnail .caption h4 {
    background: #41C4FE;
}

.color-8C922F .panel-title {
    background: #8C922F;
}

.color-8C922F .thumbnail {
    background-image: url('../image/thumbnail-img-8C922F.png');
}

.color-8C922F .thumbnail .caption {
    background-image: url('../image/thumbnail-caption-8C922F.png');
}

.color-8C922F .thumbnail .caption h2,
.color-8C922F .thumbnail .caption h3,
.color-8C922F .thumbnail .caption h4 {
    background: #8C922F;
}

/* customize blocks */
.video-block-select {
    text-align: center;
}

.recent-post-list .recent-post-single,
.recent-event-list .recent-event-single,
.news-item-block-vertical .vertical-story-single {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.recent-post-list .recent-post-single h3,
.recent-event-list .recent-event-single h3,
.news-item-block-vertical .vertical-story-single h3 {
    padding: 1px;
    margin: 1px;
}

.recent-post-list .recent-post-single img,
.recent-event-list .recent-event-single img,
.news-item-block-vertical .vertical-story-single img {
    padding-top: 2px;
}

.shop-block-random img {
    background: #41C4FE;
    padding: 1px;
}

/* customize module */
.category-single .thumbnail {
    background-image: none !important;
}

/* customize owl carousel */
.video-block .owl-carousel {
    height: 233px;
}

.video-block .owl-carousel .owl-stage {
    height: 230px;
}

.video-block .owl-carousel .owl-stage-outer {
    height: 230px;
    z-index: -10;
}

.video-block .owl-carousel .owl-item {
    max-height: 230px;
}

.video-block .owl-carousel .owl-item img {
    max-height: 230px;
    width: auto;
}

.video-block .owl-carousel .owl-controls .owl-nav {
    margin-top: -180px;
    z-index: 1000;
}

.video-block .owl-carousel .owl-controls .owl-nav .owl-prev {
    float: left;
}

.video-block .owl-carousel .owl-controls .owl-nav .owl-next {
    float: right;
}

.video-block .owl-carousel .thumbnail {
    background-position: 10px -10px !important;
}

.video-block .owl-carousel .thumbnail .caption {
    background-position: 90% 20px;
}

.shop-block .owl-carousel .thumbnail {
    background-image: none !important;
}